# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
pnpm-debug.log*

# environment variables
.env.production
src/env.d.ts

# macOS-specific files
.DS_Store

# Cypress files
tests/cypress/videos
tests/cypress/downloads
tests/cypress/screenshots