# build output
dist/

# Astro's generated types
.astro/

# dependencies
node_modules/

# macOS-specific files
.DS_Store

# Playwright
tests/e2e/results/

# environment variables
src/env.d.ts

# localhost mobile preview
ngrok.exe
