---
import '@styles/global.css';
import TheMain from '@components/TheMain.astro';
import TheHead from '@components/TheHead.astro';
import TheFooter from '@components/TheFooter.astro';
---

<html lang="en" dir="ltr">
	<TheHead />

	<body>
		<TheMain />

		<TheFooter />
	</body>
</html>
