---
import type { FilterName } from '@ts/imgStore.ts';
import { activeFilterClass } from '@ts/constants.ts';

type Props = {
	index: number;
	name: FilterName;
};

const { index, name } = Astro.props as Props;
const fontSize = `var(--font-${name === 'hue-rotate' ? 'base' : 'md'})`;
---

<button type="button" class:list={index === 0 ? activeFilterClass : ''} class="btn">
	{name}
</button>

<style define:vars={{ fontSize }}>
	@import '@styles/tokens/media-queries.css';

	button {
		outline: none;
		min-width: var(--28);
		text-transform: capitalize;

		@media (--md) {
			grid-column: span 1 / span 1;
		}
		@media (--lg) {
			font-size: var(--fontSize);
		}
	}
</style>
