---
interface Props {
	spinType: string;
}

const { spinType } = Astro.props as Props;
const icon: string = spinType.replace(' ', '_').toLocaleLowerCase();
const isRotationIcon: boolean = spinType.startsWith('Rotate');
const iconFill: string = isRotationIcon ? 'currentColor' : 'none';
const iconStroke: string = isRotationIcon ? 'none;' : 'currentColor;';
---

<button type="button" title={spinType} class="btn">
	<svg>
		<use href={`${import.meta.env.BASE_URL}/icons.svg#${icon}`}></use>
	</svg>
</button>

<style define:vars={{ iconFill, iconStroke }}>
	@import '@styles/tokens/media-queries.css';

	button {
		flex: 1 1 auto;
		outline: none;
		padding-inline: var(--3);

		@media (--from-md-to-lg) {
			padding-inline: var(--2_5);
		}
	}

	svg {
		margin: auto;
		width: var(--5);
		height: var(--5);
		fill: var(--iconFill);
		stroke: var(--iconStroke);

		@media (--lg) {
			width: var(--6);
			height: var(--6);
		}
	}
</style>
