---
import type { SpinMode } from '@types';

type Props = {
	spinMode: SpinMode;
};

const { spinMode } = Astro.props as Props;
const spinId = spinMode.replaceAll(' ', '_').toLowerCase();
---

<button type="button" title={spinMode} data-test={spinId} class="btn">
	<svg>
		<use href={`${import.meta.env.BASE_URL}/icons.svg#${spinId}`}></use>
	</svg>
</button>

<style>
	@import '@styles/tokens/media-queries.css';

	button {
		flex: 1 1 auto;
		outline: none;
		padding-inline: var(--3);

		&[title^='Rotate'] > svg {
			scale: 1.2;
			translate: 0 1px;
		}

		@media (--from-md-to-lg) {
			padding-inline: var(--2_5);
		}
	}

	svg {
		margin: auto;
		width: var(--5);
		height: var(--5);
		fill: currentColor;
		stroke: currentColor;

		@media (--lg) {
			width: var(--6);
			height: var(--6);
		}
	}
</style>
