<footer class="-space-x-2 text-center">
	<small class="-translate-y-1 text-gray-900 lg:translate-y-0 lg:pt-0.5 lg:text-base">©</small>

	<address class="-ml-1.5 inline-block not-italic">
		<a
			href="https://shayan-zamani.me"
			target="_blank"
			rel="noopener noreferrer"
			class="ml-2 rounded text-sm font-semibold text-blue-600 underline ring-current ring-offset-platinum hover:text-blue-700 lg:text-base">
			Shayan Zamani
		</a>
	</address>
</footer>
