<label>
	<p>
		<span id="active_filter_name">Brightness</span>
		<span id="active_filter_value">100%</span>
	</p>

	<input type="range" step="1" min="0" value="100" max="200" autocomplete="off" id="active_filter_range_input" />
</label>

<style>
	@import '@styles/tokens/media-queries.css';

	p {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		text-transform: capitalize;
		margin-bottom: var(--2_5);
	}

	#active_filter_name {
		@media (--lg) {
			font-size: var(--font-lgx);
		}
	}

	#active_filter_value {
		font-size: var(--font-sm);

		@media (--lg) {
			font-size: var(--font-md);
		}
	}

	input {
		--_value: 50%;

		display: block;
		width: 100%;
		height: var(--2_5);
		appearance: none;
		outline: none !important;
		border-radius: var(--rounded-full);
		border: 1px solid var(--color-cloud);
		transition: background 0ms;
		background-repeat: no-repeat;
		background-size: var(--_value) 100%;
		background-image: linear-gradient(to right, var(--color-warmBlue), var(--color-toryBlue));

		/* Do not merge selectors as it breakes the consistency between browsers. */
		&::-webkit-slider-thumb {
			width: var(--5);
			height: var(--5);
			appearance: none;
			cursor: ew-resize;
			border: none;
			transition: var(--all-smooth);
			border-radius: var(--rounded-full);
			background-color: var(--color-royalBlue);

			@media (--hover) {
				&:hover {
					background-color: var(--color-toryBlue);
				}
			}
		}
		&::-moz-range-thumb {
			width: var(--5);
			height: var(--5);
			appearance: none;
			cursor: ew-resize;
			border: none;
			transition: var(--all-smooth);
			border-radius: var(--rounded-full);
			background-color: var(--color-royalBlue);

			@media (--hover) {
				&:hover {
					background-color: var(--color-toryBlue);
				}
			}
		}
		&:focus-visible::-moz-range-thumb {
			outline: var(--focus-ring-style);
			outline-color: var(--color-royalBlue);
			outline-offset: var(--focus-ring-offset);
		}
		&:focus-visible::-webkit-slider-thumb {
			outline: var(--focus-ring-style);
			outline-color: var(--color-royalBlue);
			outline-offset: var(--focus-ring-offset);
		}

		@media (--lg) {
			height: 11px;
		}
	}
</style>

<script>
	import { DOMElements } from '@ts/domElements.ts';
	import { applyFilter } from '@ts/modules/applyFilter.mts';

	DOMElements.activeFilterRangeInput.addEventListener('input', () => applyFilter({ newFilter: false }));
</script>
