<footer>
	<small>©</small>

	<address>
		<a href="https://shayan-zamani.me" target="_blank" rel="noopener noreferrer">Shayan Zamani</a>
	</address>
</footer>

<style>
	@import '@styles/tokens/media-queries.css';

	footer {
		text-align: center;
	}

	small {
		font-size: var(--font-sm);
		color: var(--color-gray-900);
		margin-right: calc(-1 * var(--2));

		@media (--lg) {
			padding-top: var(--1_5);
			font-size: var(--font-base);
		}
	}

	address {
		font-style: normal;
		display: inline-block;
	}

	a {
		--_focus-ring-color: var(--color-warmBlue);

		font-weight: 500;
		font-size: var(--font-sm);
		margin-left: var(--2);
		border-radius: var(--1);
		color: var(--color-warmBlue);

		@media (--hover) {
			&:hover {
				color: var(--color-royalBlue);
			}
		}
		@media (--lg) {
			font-size: var(--font-base);
		}
	}
</style>
