---
const { DEV, BASE_URL } = import.meta.env;
const baseURL = DEV ? BASE_URL.slice(1) : '';
const OGImgURL = 'https://raw.githubusercontent.com/ShayanTheNerd/image-editor/main/og-img.webp';
---

<!-- prettier-ignore -->
<head>
   <meta charset="UTF-8" />
   <title>Online Image Editor - Edit Images in Just a Few Clicks!</title>

   <meta name="color-scheme" content="light" />
   <meta name="theme-color" content="#e2e1e0" />
   <meta name="generator" content={Astro.generator} />
   <meta name="author" content="Shayan Zamani, sh.zamani384@gmail.com" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
   <meta name="keywords" content="online free image editor, image filter effects, rotate and flip image, download edited image" />

   <meta property="og:type" content="website" />
   <meta property="og:site_name" content="shayan-zamani.me" />
   <meta property="og:title" name="title" content="Online Image Editor" />
   <meta property="og:url" content="https://shayanthenerd.github.io/image-editor" />
   <meta property="og:image" content={OGImgURL} />
   <meta property="og:image:alt" content="Online Image Editor" />
   <meta property="og:image:width" content="1200" />
   <meta property="og:image:height" content="630" />
   <meta property="og:description" name="description" content="ّIntuitive, free, online image editor. Apply filters such as brightness, grayscale, hue-rotation, blur, contrast, etc. to your image and download it when you're done." />

   <meta name="twitter:site" content="@shayan-zamani.me" />
   <meta name="twitter:title" content="Online Image Editor" />
   <meta name="twitter:card" content="summary_large_image" />
   <meta name="twitter:image" content={OGImgURL} />
   <meta property="twitter:image:alt" content="Online Image Editor" />

   <link rel="icon" href={`${baseURL}/favicon.ico`} />
</head>
