<a href="" tabindex="-1" aria-disabled="true" id="img_save_anchor" class="btn btn--main">Save Image</a>

<style>
	@import '@styles/tokens/media-queries.css';

	a {
		text-decoration: none;
		background-color: var(--color-royalBlue);

		&[aria-disabled='true'] {
			opacity: 0.6;
			pointer-events: none;
		}

		@media (--hover) {
			&:hover {
				background-color: var(--color-toryBlue);
			}
		}
	}
</style>

<script>
	import imgStore from '@ts/imgStore.ts';
	import { DOMElements } from '@ts/app.ts';
	import createImgCanvas from '@ts/modules/createImgCanvas.mts';

	DOMElements.imgSaveAnchor.addEventListener('click', downloadImg);

	function downloadImg() {
		this.setAttribute('aria-disabled', 'true');
		this.setAttribute('tabindex', '-1');
		this.textContent = 'Saving...';

		const { name, extension } = imgStore.state;
		this.href = createImgCanvas().toDataURL();
		this.download = `${name} (edited).${extension}`;

		setTimeout(() => {
			this.setAttribute('aria-disabled', 'false');
			this.setAttribute('tabindex', '0');
			this.textContent = 'Save Image';
			this.removeAttribute('download');
		}, 1000);
	}
</script>
