<a
	href=""
	tabindex="-1"
	aria-disabled="true"
	id="img_save_anchor"
	class="btn--main bg-royalBlue ring-royalBlue hover:bg-toryBlue aria-disabled:pointer-events-none aria-disabled:opacity-60">
	Save Image
</a>

<script>
	import imgStore from '@ts/imgStore.ts';
	import { DOMElements } from '@ts/app.ts';
	import createImgCanvas from '@ts/modules/createImgCanvas.mts';

	const { imgSaveAnchor, resetFiltersBtn } = DOMElements;
	imgSaveAnchor.addEventListener('click', downloadImg);

	function downloadImg() {
		this.textContent = 'Saving...';
		this.setAttribute('tabindex', '-1');
		this.setAttribute('aria-disabled', 'true');
		resetFiltersBtn.disabled = true;

		const { name, extension } = imgStore.state;
		this.href = createImgCanvas().toDataURL();
		this.download = `${name} (edited).${extension}`;

		setTimeout(() => {
			this.textContent = 'Save Image';
			this.removeAttribute('download');
		}, 1000);
	}
</script>
