<label tabindex="0" data-test="img_select_label" class="btn btn--main">
	Select Image
	<input hidden type="file" accept="image/*" id="img_select_input" />
</label>

<style>
	@import '@styles/tokens/media-queries.css';

	label {
		--_focus-ring-color: var(--color-davyGray);

		background-color: var(--color-davyGray);

		@media (--hover) {
			&:hover {
				background-color: var(--color-tuna);
			}
		}
	}
</style>

<script>
	import { DOMElements } from '@ts/domElements.ts';
	import { renderImg } from '@ts/modules/renderImg.ts';

	DOMElements.imgSelectInput.addEventListener('change', function () {
		const file = this.files?.[0];

		if (file) {
			renderImg(file);
		}
	});
</script>
