<button disabled type="reset" id="reset_filters_btn" class="btn">Reset Filters</button>

<style>
	@import '@styles/tokens/media-queries.css';

	button {
		width: 100%;
		font-weight: 500;
		margin-inline: auto;
		outline: none;

		&:disabled {
			opacity: 0.6;
		}

		@media (--lg) {
			font-size: var(--font-md);
		}
	}
</style>

<script>
	import { DOMElements } from '@ts/domElements.ts';
	import { resetFilters } from '@ts/modules/resetFilters.ts';

	DOMElements.resetFiltersBtn.addEventListener('click', resetFilters);
</script>
