---
import SpinButton from '@components/SpinButton.astro';

const spinTypes = ['Rotate right', 'Rotate left', 'Vertical flip', 'Horizontal flip'];
---

<fieldset class="mx-auto flex w-full flex-col gap-1.5 space-y-1">
	<legend class="text-gray-800 lg:text-19px">Rotate & Flip</legend>

	<div id="spins_container" class="flex items-center justify-evenly space-x-2">
		{spinTypes.map((spinType: string) => <SpinButton {spinType} />)}
	</div>
</fieldset>

<script>
	import { DOMElements } from '@ts/app.ts';
	import spinImg from '@ts/modules/spinImg.mts';

	DOMElements.spinsContainer.addEventListener('click', spinImg);
</script>
