---
import SpinButton from '@components/SpinButton.astro';

const spinTypes = ['Rotate right', 'Rotate left', 'Vertical flip', 'Horizontal flip'];
---

<fieldset>
	<legend>Rotate & Flip</legend>

	<div id="spins_container">
		{spinTypes.map((spinType: string) => <SpinButton {spinType} />)}
	</div>
</fieldset>

<style>
	@import '@styles/tokens/media-queries.css';

	fieldset {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--1_5);
		margin-inline: auto;
	}

	legend {
		margin-bottom: var(--1);

		@media (--lg) {
			font-size: var(--font-lgx);
		}
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: var(--2);
	}
</style>

<script>
	import { DOMElements } from '@ts/app.ts';
	import spinImg from '@ts/modules/spinImg.mts';

	DOMElements.spinsContainer.addEventListener('click', spinImg);
</script>
